.admin-bg {
  background-color: rgb(15, 23, 42);
  padding: 20px;
}

.admin-card {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: hsl(217, 33%, 17%);
  margin-top: 100px;
}

.admin-label {
  font-weight: 500;
  color: #f8f9fa;
  margin-bottom: 5px;
}

.admin-input {
  background-color: rgb(15, 23, 42);
  color: white;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 16px;
}

.admin-submit-btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.heading{
    color: white;
    text-align: center;
}
.admin-submit-btn:hover {
  background-color: #0056b3;
}
